<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/HomeStyle.css">
<!-- <div class='container-fluid top '>
    
    <div class="row mt-4 g-0">
        <div class=' col-sm-2 category d-inline-block float-start'>
            
            <div class="list-cate">
                <a class="nav-link" href="#">เสื้อผ้าผู้ชาย</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">เสื้อผ้าผู้หญิง</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">มือถือและอุปกรณ์เสริม</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">อาหารเสริมและผลิตภัณฑ์สุขภาพ</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">นาฬิกาและแว่นตา</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">รองเท้า</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">กล้องและอุปกรณ์ถ่ายภาพ</a> 
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">เกมและฮ๊อบบี้</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">ของเล่น แม่และเด็ก</a>
            </div>
            <div class="list-cate">
                <a class="nav-link" href="#">กระเป๋า</a>
            </div>
        </div>
        <div class=' col-sm-10 baner d-inline-block '>
            <p class='baner-pic float-start'></p>
        </div>
    </div>
</div> -->

<div class="row promotion container-fluid mt-4 g-0">
    <div class="row col-sm-12 pic">
        <div class='col'>
            <div class="card"></div>
        </div>
        <div class='col'>

        </div>
        <div class='col'>

        </div>
        <div class='col'>

        </div>
    </div>
</div>
<div class="row item album mt-4">
    <div class="container">
        <div class="row row-cols-1 mb-2 rows-cols-sm-2 row-cols-md-3 g-3">
            <% items.forEach(function(collection) { %>
            <div class="col-sm-3">
                <div class="card ">
                    <div>
                        <img src="<%= collection.image %>"  class='item-pic card-img-top '>
                    </div>
                    <h5 class="card-title"> <%= collection.name %> </h5>
                    <div class="card-body">
                        <p class="cart-text"> <%= collection.desc %> </p>
                        <h4 class='card-text price'> <%= collection.price %> BTH </h4>
                        <div class="btn-group">
                            <a href="/item/<%= collection._id %>" class="btn btn-sm btn-outline-success">View</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

</div>

<%- include('partials/footer.ejs') %>