<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/ShowStyle.css">

        <div class="row">
            <div class='col-8 pic'>
                <img src="<%= home.image %>" height="220px" width="auto" >
                <h5 class="card-title"> <%= home.name %> </h5>
                <p class="cart-text"> <%= home.desc %> </p>
                <h4 class='card-title price'> <%= home.price %></h4>
            </div>
            
        </div>

