<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="../css/ShowItemStyle.css">
    <div class="container">
        <div class='row item'>
            <div class='col pic-item'>
                <img id='picItem' src="<%=item.image%>" height="220px" width="auto" >
            </div>
            <div class='col '>
                <h5 class="card-title"> <%= item.name %>  </h5>
                <p class="cart-text"> <strong>Category : </strong>  <%= item.category %> </p>
                <p class="cart-text"> <strong> Description :  </strong> <%= item.desc %> </p>
                <h4 class='card-title price'> <%= item.price %> BTH</h4>
                <% if(currentUser && item.author.id.equals(currentUser._id)) { %>
                    <div class="col item-butt">
                        <a  class="btn btn-info"  href="/item/<%=item._id%>/edit">Edit</a>
                        <form action = '/item/<%=item._id%>?_method=DELETE' method = "POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>       
                <% } %>
            </div>    
        </div> 
        <div class="row comment" id='comment'>
            <div class='Butt-newcomment'>
                <a class='btn btn-primary' href="/item/<%=item._id%>/comments/new"> new comment</a> 
                <% item.comments.forEach(function(comment){ %>
            </div>
            <div class="">
                
                <div class="comment-layout">
                    <div class=" comment-text">
                            <p>
                                <strong><%= comment.author.username %></strong> - <%= comment.text %>
                            </p>
                    </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class="comment-butt">
                            <div class="ButtEdit">
                                <a  class="btn btn-info" href="/item/<%= item._id %>/comments/<%= comment._id %>/edit"> Edit </a>
                            </div>
                            <form id='formComButt' action = '/item/<%=item._id %>/comments/<%= comment._id %>?_method=DELETE' method = "POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>  
                <% }); %> 
                
            </div>
            
        </div>   
    </div>
   

